.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "a . . b"
    ". . . ."
    ". . . c"
    ". . . c"
    ". . . e"
    "d d . e";
  gap: 1em;
}

button {
  margin: 0;
  padding: 0.5em;

  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;

  color: var(--text);

  outline: none;
  border: 0.05em solid var(--border);

  border-radius: 0.7em;
  box-shadow: 0.2em 0.2em 0.4em var(--dark), -0.2em -0.2em 0.4em var(--light);
  background-color: var(--base);

  cursor: pointer;

  transition: all 0.2s ease;
}

button:hover {
  background-color: var(--light);
}

button:active {
  box-shadow: 0.2em 0.2em 0.4em var(--dark), -0.2em -0.2em 0.4em var(--light),
    inset 0.2em 0.2em 0.4em var(--dark), inset -0.2em -0.2em 0.4em var(--light);
}

.key-clear {
  grid-area: a;
}
.key-back {
  grid-area: b;
}
.key-plus {
  grid-area: c;
}
.key-0 {
  grid-area: d;
}
.key-equal {
  grid-area: e;
}
.key-clear,
.key-back,
.key-equal {
  background-color: var(--accent);
  color: var(--alt-text);
}
.key-clear:hover,
.key-back:hover,
.key-equal:hover {
  background-color: var(--accent-light);
}
