.panel {
  width: 20em;
  padding: 2em;
  border: 0.1em solid var(--border);
  border-radius: 1em;
  background-color: var(--base);

  box-shadow: 7px 21px 21px var(--shadow);
}

@media only screen and (max-width: 50em) {
  .app.light,
  .app.dark {
    --background: var(--base);
  }
  .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}
